@mixin mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }

.home{
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        border:1px solid white;
        // border-radius: 10px;
        // width: 65%;
        // height: 80%;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        .sidebar{
            flex:1;
            border-right: 1px solid white;
            background-color: var(--apple-color);
            
            .navbar{
                display: flex;
                align-items: center;
                background-color: var(--darker-color);
                height: 50px;
                padding:10px;
                justify-content: space-between;
                color: brown;
                
            .logo{
                font-weight: bold;
                @include tablet{
                    display: none;
                }
            }
            .user{
                display: flex;
                gap: 10px;
                align-items: center;
                img{
                    background-color: antiquewhite;
                    height:24px;
                    width:24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            button{
                transform: scale(0.85);
                color: white;
            }
            }
            .search{
                border-bottom: 1px solid white;
            .searchForm{
                // padding:10px;
                input{
                    background-color: transparent;
                border: none;
                color:white;
                outline: none;
                width: 100%;
                overflow: hidden;
            &::placeholder{
                color:lightgray;
            }
                }
            }
            }
        }
        .userChat{
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color:white;
            cursor:pointer;
            transition: 0.5s all;
            &:hover{
                background-color: var(--darker-color);
            }
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
            .userChatInfo{
                span{
                    font-size: 18px;
                    font-weight: 500;
                    p{ font-size: 14px; color:antiquewhite}
                }
            }
        }
        .chat{
            flex:2.8;
            background-color: var(--light-color);
            .chatInfo{
                height: 50px;
                display: flex;
                align-items:center;
                justify-content: space-between;
                background-color: var(--darker-color);
                padding: 10px;
                color: lightgrey;
                svg{
                    margin:10px;
                    cursor: pointer;
                    transform: scale(1.22);
                }         
            }
            .messageList{
                background-color:var(--light-color);
                padding:10px;
                height: calc(100% - 150px);
                overflow-y: auto;
                .name{
                    color:black;
                    font-weight: 500;
                }
                .emojiContainer{
                    float: right;
                    position: relative;
                    top: 120px;
                }
                .messageBubble{
                    display: flex;
                    gap: 20px;
                    .messageInfo{    
                        display: flex;
                        flex-direction: column;
                        color:grey;
                        margin-bottom: 20px;
                        img{
                        width:40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                        }
                        span{
                            font-size: 15px;
                            color:black;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap:10px;
                        margin-top: 25px;
                        .textContent{
                            background-color: white;
                            padding:10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }
                
                 &.owner{
                    flex-direction: row-reverse;
                    .messageContent{
                        align-items: flex-end;
                    }
                    .textContent{
                        background-color: rgb(247, 234, 233);
                        border-radius: 10px 0px 10px 10px;
                    }
                 }
                }
            }
            .input{
                background-color: white;
                height: 38px;
                padding: 6px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 95%;
                margin: 0 auto;
                border-radius: 10px;
                box-shadow: -2px 5px 5px 0px rgb(0 0 0 / 75%);
                -webkit-box-shadow: -2px 3px 3px 0px rgb(0 0 0 / 75%);
                -moz-box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.75);
                input{
                    width: 100%;
                    border:none;
                    outline:none;
                    color: grey;
                    font-size:16px;
                    padding-left: 5px;
                    &::placeholder{
                        color: lightgrey;
                    }
                }
                .send{
                    display: flex;
                    align-items: center;
                    gap:10px;
                    cursor:pointer;
                    svg{
                         transform: scale(0.98);
                         cursor:pointer;
                    }
                }
            }
        }
    }
}